.divMessage {
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-right: 20px;
  margin-left:  20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: red;
  font-size: 40px;
  text-align: center;
  color: white;
}
